# Data Science Capstone Project

## Part 1 (Week 3: Segmenting and Clustering Neighborhoods in Toronto)

In [23]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [24]:
import requests
from bs4 import BeautifulSoup

In [52]:
#Scraping postal code table from Wikipedia page and creating boroughs_df dataframe
frompage = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(frompage.content,'lxml')
table = soup.find_all('table')[0] 
boroughs_df = pd.read_html(str(table))[0]
boroughs_df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [53]:
#Dropping rows that have 'Boroughs' "Not assigned"
#Note: these rows happen to coincide with Neighborhoods that are also "Not assigned"
indexes_to_drop = boroughs_df[ boroughs_df['Borough'] == 'Not assigned' ].index
boroughs_df.drop(indexes_to_drop , inplace=True)
boroughs_df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [54]:
#Combining Neighborhoods that share a postal code in one row, with a comma for separation.
#Note, the Wikipedia page as of today 7/7/2020 appears to already have grouped the Neighborhoods by postal code (which is what the following code performs)
boroughs_df=boroughs_df.groupby(['Postal Code','Borough'])['Neighborhood'].agg(', '.join).reset_index()
boroughs_df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [55]:
#Using the .shape method to print the number of rows in my dataframe (103 rows)
boroughs_df.shape

(103, 3)